# Exclude the massive node_modules folder
/node_modules
/npm-debug.log*
npm-debug.log
**/node_modules

# Logs and Temporary Files
logs
*.log
*.tmp

# OS system file
.DS_Store
.vscode
Thumbs.db

# Ignore IDE settings
.vscode/
.idea/

# Ignore environment variables (API keys)
.env
.env.local

# Ignore production builds
dist/
build/