<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Post in detail:</h1><br><h4>Post ID:<%=post.id%></h4>
    <h3 class="username">Username:<%=post.username%></h3>
    <form action="/posts/<%=post.id%>?_method=PATCH" method="post">
        <textarea name="content" rows="15" cols="59"><%=post.content%></textarea>
        <button>submit</button>
    </form>
    
</body>
</html>