<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Post in detail:</h1><br><h4>Post ID:<%=post.id%></h4>
    <h3 class="username">Username:<%=post.username%></h3>
    <h4 class="content">Content: <br>
        <%=post.content%>
    </h4>
    <a href="http://localhost:8080/posts">Exit Post</a>
    
</body>
</html>