<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <form  method="POST" action="/posts">
        <input type="text" name="username" placeholder="username" ><br><br>
        <textarea name="content" id="content" placeholder="Content" rows="15" cols="59"></textarea><br><br>
        <button type="submit">Submit Post</button>
    </form>
</body>
</html>