body{
    background-color: rgb(73, 73, 107);
}
.header{
   display: flex;
   justify-content: center;
   background-color: lightgrey;
   color: rgb(47, 98, 143);
}
ul{
    margin-left: 50vh;
    font-size: 30px;
}
input{
    height: 25px;
    width: 400px;
    margin-top:30px;
    margin-left: 35vh;
}
.delete{
    height:25px;
    width:80px;
    margin-left:20px;
    background-color: brown;
}
li{
    padding-top:15px;
}